
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
}

.nav__menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__menu li {
    display: inline;
    margin-left: 20px;
}

.nav__menu li:first-child {
    margin-left: 0;
}

    .nav__menu li a {
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: 800;
        text-decoration: none;
        color: black;
        transition: transform 0.2s ease-in-out;
        display: inline-block;
    }

        .nav__menu li a:hover {
            color: #767676;
            transform: scale(1.03);
        }


body {
    background-color: #fff3e5;
    margin: 0px;
    padding: 0px;
    height: auto;
}

footer {
    padding: 1%;
    margin-top: 2%;
    background-color: #847562;
    font: 15px Arial, sans-serif;
    color: #ffffff;
}

p.contact__contacts {
    font-weight: 800;
}

a.telegram__link {
    color: #ffffff;
    cursor: pointer; 
    text-decoration: none; 
}

    a.telegram__link:hover {
        color: #e3e3e3;
        text-decoration: underline;
        text-decoration: none;
    }


a.vk__link {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

    a.vk__link:hover {
        color: #e3e3e3;
        text-decoration: underline;
        text-decoration: none;
    }

.main__container {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background: #fff3e5;
}

.item {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-weight: bold;
}

.container__email {
    background: #ffffff;
    grid-column: span 1;
    grid-row: span 1;
    padding: 3%;
    box-shadow: 0px 3px 4px 4px #dfd5c8;
}

    .container__email:hover {
        background-color: rgb(193, 185, 155,0.8);
        transition: background-color 0.7s ease;
    }

.container__vk {
    background: #ffffff;
    grid-column: span 1;
    grid-row: span 1;
    padding: 3%;
    box-shadow: 0px 3px 4px 4px #dfd5c8;
}

    .container__vk:hover {
        background-color: rgb(193, 185, 155,0.8);
        transition: background-color 0.7s ease;
    }

.container__tg {
    background: #ffffff;
    grid-column: span 1;
    grid-row: span 1;
    padding: 3%;
    box-shadow: 0px 3px 4px 4px #dfd5c8;
}

    .container__tg:hover {
        background-color: rgb(193, 185, 155,0.8);
        transition: background-color 0.7s ease;
    }

.container__phone {
    background: #ffffff;
    grid-column: span 1;
    grid-row: span 1;
    padding: 3%;
    box-shadow: 0px 3px 4px 4px #dfd5c8;
}

.container__phone:hover {
    background-color: rgb(193, 185, 155,0.8);
    transition: background-color 0.7s ease;
} 

.tg__title {
    text-align: center;
    font: 20px Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 2%;
}

.vk__title {
    text-align: center;
    font: 20px Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 2%;
}

.email__title {
    text-align: center;
    font: 20px Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 2%;
}

.phone__title {
    text-align: center;
    font: 20px Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 2%;
}

.tg__info {
    text-align: justify;
    font: 18px Arial, sans-serif;
}

.vk__info {
    text-align: justify;
    font: 18px Arial, sans-serif;
}

.email__info {
    text-align: justify;
    font: 18px Arial, sans-serif;
}

.phone__info {
    text-align: justify;
    font: 18px Arial, sans-serif;
}